<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<th:block th:replace="~{common/config/default_configs::BootstrapConfig}"></th:block>
</head>
<body>
	<div class="container text-center">
		<h3>전체 부서 조회</h3>
		<table class="table border">
			<thead>
				<tr>
					<th>NO.</th>
					<th>부서번호</th>
					<th>부서이름</th>
					<th>장소</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info, sts : ${depts}">
					<tr th:onclick="|location.href='@{deptInfo(departmentId=${info.departmentId})}'|">
						<td>[[ ${ sts.count } ]]</td>
						<td>[[ ${ info.departmentId } ]]</td>
						<td>[[ ${ info.departmentName } ]]</td>
						<td>[[ ${ info.locationId } ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>