<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<th:block th:replace="~{common/config/default_configs::BootstrapConfig}"></th:block>
</head>
<body>
	<div class="container text-center">
		<h3>사원 등록</h3>
		<!--/* 
				@{}, 링크 표현식 => 경로르ㅡㄹ 생성할 때 사용
				href, src, action 속성에서 주로 사용
		 */-->
		<form name="insertForm" th:action="@{/empInsert}" method="post">
			<div>
				<label for="ename">이름</label>
				<input id="ename" name="lastName" type="text"></input>
			</div>
			<div>
				<label for="email">이메일</label>
				<input id="email" name="email" type="email"></input>
			</div>
			<div>
				<label for="hdate">입사일</label>
				<input id="hdate" name="hireDate" type="date"></input>
			</div>
			<div>
				<label for="job">업무</label>
				<input id="job" name="jobId" type="text"></input>
			</div>
			<div>
				<label for="sal">급여</label>
				<input id="sal" name="salary" type="number" step="0.01"></input>
			</div>
			<div>
				<button type="reset" class="btn btn-secondary">초기화</button>
				<button type="submit" class="btn btn-success">등록</button>
			</div>
		</form>
	</div>
	<script>
		document.querySelector('form[name= "insertForm"]')
						.addEventListener('submit', function(event){
							event.preventDefault(); // 해당 이벤트 핸들러 일시정지
							const formTag = event.currentTarget;
							let nameTag = formTag.querySelector('[name="lastName"]');
							if(nameTag.value == ''){
								alert('이름이 입력되지 않았습니다.');
								nameTag.focus();
								return;
							}
							let hdateTag = document.querySelector('form [name="hireDate"]');
							if(hdateTag.value == ''){
								alert("입사일자가 입력되지 않았습니다.");
								hdateTag.focus();
								return;
							}
							alert("정상적으로 등록되었습니다.");
							formTag.submit();
						})
	</script>
</body>
</html>