<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<th:block th:replace="~{common/config/default_configs::BootstrapConfig}"></th:block>
</head>
<body>
	<div class="container text-center">
		<h3>사원 수정</h3>
		<form name="updateForm" th:object="${emp}">
			<div>
				<label for="eid">사원번호</label>
				<input id="eid" type="text" th:field="*{employeeId}" readonly></input>
			</div>
			<div>
				<label for="ename">이름</label>
				<input id="ename" type="text" th:field="*{lastName}"></input>
			</div>
			<div>
				<label for="email">이메일</label>
				<input id="email" type="email" th:field="*{email}"></input>
			</div>
			<div>
				<label for="hdate">입사일</label>
				<input id="hdate" type="date" th:field="*{hireDate}"></input>
			</div>
			<div>
				<label for="job">업무</label>
				<input id="job" type="text" th:field="*{jobId}"></input>
			</div>
			<div>
				<label for="sal">급여</label>
				<input id="sal" type="number" step="0.01" th:field="*{salary}"></input>
			</div>
			<div>
				<button type="button" class="btn btn-success">수정</button>
			</div>
		</form>
	</div>
	<script>
		updateForm.querySelector('button')
							.addEventListener('click', updateAjax);
		async function updateAjax(event){
			// 1) 전송할 데이터를 가져옴
			let dataObj = getEmpObj();
			// 2) 해당 데이터를 서버에 전송 : Ajax
			let resData = await fetch(`empUpdate`, {
											method : 'post',
											headers : {
												'Content-type' : 'application/json'
											},
											body : JSON.stringify(dataObj),
									})
									.then(res => res.json())
									.catch(err => console.log(err));
									console.log(resData);
									if(resData.result){
										alert(`${resData.target.employeeId} 사원정보가 수정되었습니다.`)
									}
		}

		function getEmpObj(){
			let formData = new FormData(updateForm);
			let formObj ={};
			formData.forEach((value, name)=>{
				// console.log(value, name);
				formObj[name]=value;
			})

			return formObj;
		};
	</script>
</body>
</html>